<h1>Tiny App</h1>

<form method="POST" action="/register">
    <input type="email" size="35" name="email">
    <input type="password" size="35" name="password">
    <button type='submit'>Join</button>
</form>