<h1>Tiny App</h1>

<form method="POST" action="/register">
    <label for="Email">Email</label>
    <input type="email" size="35" name="email">
    &nbsp;
    <label for="Password">Password</label>
    <input type="password" size="35" name="password">
    <button type='submit'>Sign Up</button>
</form>