<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>
    <%- include partials/_header.ejs %>

    <%= shortURL %>  
    <form method="POST" action="/urls/<%= shortURL %>/update">
        <input type="text" size="35" name="longURL" value="<%= longURL %>">
        <button type='submit'>Update</button>
    </form>
</body>

</html>